body {
    background-color: #272727;
} 

#navbar {
    text-align: center;
}

#navbar-home-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #e4e1e1;
}

#navbar-faq-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #e4e1e1;
}

#navbar-rules-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #e4e1e1;
}

#navbar-home-text {
    display: inline-flex;
    justify-content: center;
    color: #e4e1e1;
    text-decoration: none;
    padding-top: 10px;
}

#navbar-faq-text {
    display: inline-flex;
    justify-content: center;
    color: #e4e1e1;
    text-decoration: none;
    padding-top: 10px;
}

#navbar-rules-text {
    display: inline-flex;
    justify-content: center;
    color: #e4e1e1;
    text-decoration: none;
    padding-top: 10px;
}

#navbar-home-bar {
    margin: auto;
    width: 0px;
    margin-top: 8px;
    height: 4px;
}

#navbar-faq-bar {
    margin: auto;
    width: 0px;
    margin-top: 8px;
    height: 4px;
}

#navbar-rules-bar {
    margin: auto;
    width: 0px;
    margin-top: 8px;
    height: 4px;
}

#home-placeholder-div {
    display: inline-block;
    background-color: transparent;
    border-radius: 0px;
    transition: background-color 0.4s, border-radius 0.6s;
    width: 128px;
    height: 48px;
}

#home-placeholder-div:hover {
    background-color: rgba(0, 195, 255, 0.1);
    border-radius: 8px;
    transition: background-color 0.4s, border-radius 0.6s;
}

#faq-placeholder-div {   
    display: inline-block;
    background-color: transparent;
    border-radius: 0px;
    transition: background-color 0.4s, border-radius 0.6s;
    width: 128px;
    height: 48px;
}

#faq-placeholder-div:hover {
    background-color: rgba(0, 195, 255, 0.1);
    border-radius: 8px;
    transition: background-color 0.4s, border-radius 0.6s;
}

#rules-placeholder-div {   
    display: inline-block;
    background-color: transparent;
    border-radius: 0px;
    transition: background-color 0.4s, border-radius 0.6s;
    width: 128px;
    height: 48px;
}

#rules-placeholder-div:hover {
    background-color: rgba(0, 195, 255, 0.1);
    border-radius: 8px;
    transition: background-color 0.4s, border-radius 0.6s;
}

#header-text {
    font-family: 'Luxurious Roman', cursive;
    font-size: 64px;
    text-align: center;
    padding-top: 5%;
    color: rgba(0, 195, 255, 0.898);
}

#server-quotes {
    color: lightgray;
    margin-top: 8%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

#address-div {
    display: inline-block;
    background-color: transparent;
    margin-top: 48px;
    margin-left: 42.5%;
    width: 275px;
    height: 75px;
    border-radius: 0px;
    text-align: center;
    transition: background-color 0.4s, border-radius 0.6s;
}

#address-div:hover {
    background-color: rgba(0, 195, 255, 0.1);
    border-radius: 8px;
    transition: background-color 0.4s, border-radius 0.6s;
}

#server-address {
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #e4e1e1;
}

#address-bar {
    margin: auto;
    background-color: transparent;
    width: 0px;
    height: 4px;
}

#copy-address-alert {
    position: absolute;
    display: none;
    background-color: rgba(0, 195, 255, 0.05);
    border-radius: 8px;
    margin-top: 22.5%;
    width: 250px;
    height: 62.5px;
    color: #d4d4d4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#copy-address-alert-text-div {
    display: inline-block;
    position: absolute;
    width: 225px;
}

#address-alert-bar {
    margin: auto;
    background-color: transparent;
    width: 0px;
    height: 4px;
    margin-top: 22.5%;
}

.fa-copy {
    color: rgb(240, 240, 240);
    font-size: 40px;
}

.fa-check-circle {
    color: rgb(60, 219, 60);
    font-size: 48px;
    
}

.fa-home {
    color: #e4e1e1;
    font-size: 24px;
    margin-right: 4px;
}

.fa-question {
    margin-right: 4px;
}

.fa-scroll {
    margin-right: 4px;
}

.fa-times {
    position: absolute;
    margin-top: 4px;
    margin-left: 235px;
}

.snowflake {
    position: fixed;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}